gevent~=22.10.2
bottle~=0.12.23
Eel~=0.14.0
pyparsing~=3.0.9
pyinstaller~=5.7.0
whichcraft~=0.6.1
pip~=22.3.1
future~=0.18.2
cffi~=1.15.1
greenlet~=2.0.1
altgraph~=0.17.3
pycparser~=2.21
pefile~=2022.5.30
setuptools~=65.5.0
PySimpleGUI~=4.60.4
pandas~=1.5.2
numpy~=1.24.0
scikit-learn~=1.2.0
pytz~=2022.7
scipy~=1.9.3
joblib~=1.2.0
python-dateutil~=2.8.2
threadpoolctl~=3.1.0
six~=1.16.0